<form #formAjout="ngForm" (ngSubmit)="ajouterStatistique()">
    <div class="mb-3">
      <label for="inputIdentifiant" class="form-label">Identifiant</label>
      <input type="text" class="form-control" id="inputIdentifiant" name="identifiant" [(ngModel)]="identifiant" required>
    </div>
    <div class="mb-3">
      <label for="inputTitre" class="form-label">Titre</label>
      <input type="text" class="form-control" id="inputTitre" [(ngModel)]="titre" name="titre" required>
    </div>
    <div class="mb-3">
      <label for="inputValeur" class="form-label">Mis à jour à</label>
      <input type="text" class="form-control" id="inputValeur" [(ngModel)]="valeur" name="valeur" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formAjout.valid">Ajouter</button>
  </form>
  
  <swal #mySwal title="Bravo !" text="Votre statistique a été ajouté :)" icon="success"></swal>